# Build results
bin/
obj/
out/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
*.db
*.db-shm
*.db-wal

# Database
*.sqlite
*.db3

# Logs
*.log
